.full-page {
	min-height: 100vh;
	display: flex;
}

.container404 {
	text-align: center;
	background: linear-gradient(var(--bg), var(--sectionBg));
	display: flex;
	flex: 8;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2rem 1.5rem 0;
	position: relative;
	z-index: 1;
}
.text404 {
	margin-bottom: 1.5rem;
}
.wave404 {
	max-height: max(20rem, 20vw);
	overflow: hidden;
	flex: 1;
	background: linear-gradient(225deg, hsl(204, 79%, 47%), hsl(236, 85%, 65%));
	color: var(--sectionBg);
	svg {
		filter: drop-shadow(0 0 1rem rgba(0, 10, 20, .65));
		min-width: 36rem;
		vertical-align: top;
	}
}

.code404 {
	font-size: clamp(7rem, 5.2000rem + 8.0000vw, 10rem);
	margin-bottom: 1rem;
	line-height: 1;
	font-weight: 900;
	background: -webkit-linear-gradient(0deg,hsl(294, 85%, 60%), hsl(238, 85%, 65%), hsl(294, 85%, 60%));
	background-size: 400%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: moveBg 8s linear infinite;
	cursor: default;
	filter: drop-shadow(0 0.125rem 0.375rem rgba(0, 0, 0, 0.1));
}

@keyframes moveBg {
	from {background-position: 0;}
	to {background-position: 400%;}
}